* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #151320;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 40px;
}

button {
    width: 120px;
    height: 45px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#btns-top,
#btns-low {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#pause,
#continue,
#reset {
    display: none;
}

.clock {
    position: relative;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: #151320;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.clock::after,
.clock::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(90deg, #f1b7ea, #a486b0, #694786, #5d479a, #3c2d57, #1a1347, #151320, #f1b7ea, #a486b0, #694786, #5d479a, #3c2d57, #1a1347);
    background-size: 800px;
    animation: caixaAnimada 7s linear alternate infinite;
}

@keyframes caixaAnimada {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 300%;
    }
}

.clock::after {
    filter: blur(50px);
}

@media screen and (max-width: 850px) {

    main {
        width: 80vw;
        align-items: center;
    }

    .clock {
        width: 300px;
        height: 300px;
    }

}